[![GitHub Workflow Status (with event)](https://img.shields.io/github/actions/workflow/status/CruGlobal/ab_service_api_sails/pr-merge-release.yml?logo=github&label=Build%20%26%20Test)](https://github.com/CruGlobal/ab_service_api_sails/actions/workflows/pr-merge-release.yml)
[![GitHub tag (with filter)](https://img.shields.io/github/v/tag/CruGlobal/ab_service_api_sails?logo=github&label=Latest%20Version)
](https://github.com/CruGlobal/ab_service_api_sails/releases)
[![Docker Pulls](https://img.shields.io/docker/pulls/digiserve/ab-api-sails?logo=docker&logoColor=white&label=Docker%20Pulls)](https://hub.docker.com/r/digiserve/ab-api-sails)
[![Image Size](https://img.shields.io/docker/image-size/digiserve/ab-api-sails/master?logo=docker&logoColor=white&label=Image%20Size)](https://hub.docker.com/r/digiserve/ab-api-sails/tags)

# AppBuilder API
An AppBuilder service - the api endpoint for our AppBuilder Runtime.

## Install
See [ab_cli](https://github.com/CruGlobal/ab-cli)

## Pull Requests
Pull Requests should be tagged with a label `major`, `minor` or `patch`. Use `major` for breaking changes, `minor` for new features, or `patch` for bug fixes. To merge without creating a release a `no_release` tag can be added instead.

:pencil: In the pull request body add release notes between these tags:
```md
<!-- #release_notes -->

<!-- /release_notes --> 
```
Anything between those 2 lines will be used as release notes when creating a version.

### When merged:
 - A new version will be created using semantic versioning
 - The version will be updated in `package.json`
 - A new tag and release will be created on GitHub
 - A new docker image will be built, tagged with the version and published to dockerhub
 - A Workflow in `ab_runtime` will be triggered to update the service version file.

## Manually Building a Docker Image
It may be useful to build a custom docker image from a feature branch for testing.
This can be done through a workflow dispatch trigger.
1. Go to the Actions tab
2. Select the 'Docker Build Custom' workflow
3. Select 'run Workflow' and fill in the form
The image will be built from the selected branch and pushed to dockerhub using the given tags
___

## Reference
<a name="top"></a>
<% data.forEach(group => { -%>
- [<%= group.name %>](#<%= toLink(group.name) -%>)
<% group.subs.forEach(sub => { -%>
  - [<%- sub.deprecated && "~~" %><%= sub.title %><%- sub.deprecated && "~~" %>](#<%= toLink(sub.title) %>)
<% })}) -%>

___

<% if (prepend) { -%>
<%- prepend %>
<% } -%>
<% data.forEach(group => { -%>

<a name='<%= toLink(group.name) %>'></a> 
## <%= group.name %>
<%- group.subs[0]?.groupDescription ?? "" %>

<% group.subs.forEach(sub => { -%>
  
<a name='<%= toLink(sub.title) %>'></a>
### <%- sub.deprecated && "~~" %><%= sub.title %> - `<%- sub.type.toUpperCase() %>` <%- sub.url %><%- sub.deprecated && "~~" %>
[Back to top](#top)

<%- sub.deprecated && `**_Depreciated ${sub.deprecated.content ?? ""}_**` %>
<%- sub.description ? `${sub.description}\n\n` : '' -%>
<% if (sub.permission) { -%>
**Permission:** `<%- sub.permission[0].name -%>`
<%- sub.permission[0].description ? `\\- ${sub.permission[0].description.replace(/<\/?p>/g, "")}`:'' %>
<% } -%>
<% if (sub.header && sub.header.fields) { -%>
<% Object.entries(sub.header.fields).forEach(([headersGroup, headersGroupContent]) => { -%>

#### Headers - `<%= headersGroup %>`

| Name    | Type      | Description                          |
|---------|-----------|--------------------------------------|
<% headersGroupContent.forEach(header => { -%>
| <%- header.field %> | <%- header.type ? `\`${header.type}\`` : '' %> | <%- header.optional ? '**optional**' : '' %><%- header.description %> |
<% }) // foreach parameter -%>
<% }) // foreach header fields -%>
<% } // if parameters -%>
<% if (sub.header && sub.header.examples && sub.header.examples.length) { -%>

#### Header examples

<% sub.header.examples.forEach(example => { -%>
<%= example.title %>

```<%= example.type %>
<%- example.content %>
```
<% }) // foreach example -%>
<% } // if example -%>
<% if ((sub.parameter && sub.parameter.fields) || sub.query || sub.body) { -%>
#### Parameters
| Name     | Type       | Location    |  Description            |
|----------|------------|-------------|-------------------------|
<% } // if parameters -%>
<% if (sub.parameter && sub.parameter.fields) { -%>
<% Object.entries(sub.parameter.fields).forEach(([parametersGroup, parametersGroupContent]) => { -%>
<% parametersGroupContent.forEach(param => { -%>
| <%- param.field -%> | <%- param.type ? `\`${param.type}\`` : '' %> | route | <%- param.optional ? '**optional** ' : '' -%><%- param.description -%>
<% if (param.defaultValue) { -%>
_Default value: <%= param.defaultValue %>_<br><% } -%>
<% if (param.size) { -%>
_Size range: <%- param.size %>_<br><% } -%>
<% if (param.allowedValues) { -%>
_Allowed values: <%- param.allowedValues %>_<% } -%> |
<% }) // foreach parameters -%>
<% }) // foreach param parameter -%>
<% } // if parameters -%>
<% if (sub.query) { -%>
<% sub.query.forEach(query => { -%>
| <%- query.field -%> | <%- query.type ? `\`${query.type.replace(/\|/g, "\\|")}\`` : '' %> | query | <%- query.optional ? '**optional** ' : '' -%><%- query.description -%>
<% if (query.defaultValue) { -%>
_Default value: <%= query.defaultValue %>_<br><% } -%>
<% if (query.size) { -%>
_Size range: <%- query.size %>_<br><% } -%>
<% if (query.allowedValues) { -%>
_Allowed values: <%- query.allowedValues %>_<% } -%> |
<% }) // foreach query -%>
<% } // if query -%>
<% if (sub.body) { -%>
<% sub.body.forEach(body => { -%>
| <%- body.field -%> | <%- body.type ? `\`${body.type}\`` : '' %> | body | <%- body.optional ? '**optional** ' : '' -%><%- body.description -%>
<% if (body.defaultValue) { -%>
_Default value: <%= body.defaultValue %>_<br><% } -%>
<% if (body.size) { -%>
_Size range: <%- body.size %>_<br><% } -%>
<% if (body.allowedValues) { -%>
_Allowed values: <%- body.allowedValues %>_<% } -%> |
<% }) // foreach body -%>
<% } // if body -%>
<% if (sub.examples && sub.examples.length) { -%>

#### Examples

<% sub.examples.forEach(example => { -%>
<%= example.title %>

```<%= example.type %>
<%- example.content %>
```

<% }) // foreach example -%>
<% } // if example -%>
<% if (sub.parameter && sub.parameter.examples && sub.parameter.examples.length) { -%>

#### Parameters examples

<% sub.parameter.examples.forEach(exampleParam => { -%>
`<%= exampleParam.type %>` - <%= exampleParam.title %>

```<%= exampleParam.type %>
<%- exampleParam.content %>
```
<% }) // foreach exampleParam -%>
<% } // if exampleParam -%>
<% if (sub.success && sub.success.fields) { -%>
#### Responses
<% Object.entries(sub.success.fields).forEach(([responsesGroup, responsesGroupContent]) => { -%>

##### Success response - `<%= responsesGroup %>`

| Name     | Type       | Description                           |
|----------|------------|---------------------------------------|
<% responsesGroupContent.forEach(param => { -%>
| <%- param.field %> | <%- param.type ? `\`${param.type}\`` : '' %> | <%- param.optional ? '**optional**' : '' %><%- param.description -%>
<% if (param.defaultValue) { -%>
_Default value: <%- param.defaultValue %>_<br><% } -%>
<% if (param.size) { -%>
_Size range: <%- param.size -%>_<br><% } -%>
<% if (param.allowedValues) { -%>
_Allowed values: <%- param.allowedValues %>_<% } -%> |
<% }) // foreach reponses -%>
<% }) // foreach field -%>
<% } // if success.fields -%>
<% if (sub.success && sub.success.examples && sub.success.examples.length) { -%>

#### Success response example
<% sub.success.examples.forEach(example => { -%>

##### Success response example - `<%= example.title %>`

```<%= example.type %>
<%- example.content %>
```
<% }) // foreach success example -%>
<% } // if success.examples -%>
<% if (sub.error && sub.error.fields) { -%>

### Error response
<% Object.entries(sub.error.fields).forEach(([errorsGroup, errorsGroupContent]) => { -%>

##### Error response - `<%= errorsGroup %>`

| Name     | Type       | Description                           |
|----------|------------|---------------------------------------|
<% errorsGroupContent.forEach(param => { -%>
| <%- param.field %> | <%- param.type ? `\`${param.type}\`` : '' %> | <%- param.optional ? '**optional**' : '' %><%- param.description -%>
<% if (param.defaultValue) { -%>
_Default value: <%- param.defaultValue %>_<br><% } -%>
<% if (param.size) { -%>
_Size range: <%- param.size -%>_<br><% } -%>
<% if (param.allowedValues) { -%>
_Allowed values: <%- param.allowedValues %>_<% } -%> |
<% }) // foreach errors -%>
<% }) // foreach field -%>
<% } // if error.fields -%>
<% if (sub.error && sub.error.examples && sub.error.examples.length) { -%>

#### Error response example
<% sub.error.examples.forEach(example => { -%>

##### Error response example - `<%= example.title %>`

```<%= example.type %>
<%- example.content %>
```
<% }) // foreach error example -%>
<% } // if error.examples -%>
<% }) // foreach sub -%>
<% }) // foreach group -%>

<% if (footer) { -%>
<%- footer %>
<% } -%>